{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Title</span>
        <a href="#modal1" data-target="modal1" class="secondary-content btn waves-effect waves-light modal-trigger">VIEW</a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Title</span>
        <a href="#!" class="secondary-content waves-effect waves-light modal-trigger">VIEW</a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">insert_chart</i>
        <span class="title">Title</span>
        <a href="#!" class="secondary-content waves-effect waves-light modal-trigger">VIEW</a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <a href="#!" class="secondary-content waves-effect waves-light modal-trigger">VIEW</a>
      </li>
    </ul>
  </div>
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
{% endblock %}