{% extends "layout.html" %} {% block content %}
<div class="container">
  <h1 class="center-align">
    {{ current_user.firstname }} {{ current_user.lastname}}
  </h1>
  <div class="row mt-2">
    <div class="col s8 offset-s2">
      <ul class="tabs">
        <li class="tab col s4 offset-s2">
          <a href="#test5" class="active"><b>Applied Jobs</b></a>
        </li>
        <li class="tab col s4">
          <a href="#test6"><b>My Profile</b></a>
        </li>
      </ul>
    </div>
    <div id="test5" class="col s12 mt-2">
      {% for j in current_user.jobs %}
      <div class="col s4">
        <div class="job-card card z-depth-2 hoverable">
          <div style="padding-top: 20px; width: 100%; text-align: center">
            <img
              class="z-depth-3 activator"
              style="width: 80%; border-radius: 10px; cursor: pointer"
              src="/static/uploades/images/{{j.photo}}"
            />
          </div>
          <div class="card-stacked">
            <div class="card-content" style="padding: 10px 24px">
              <span class="card-title black-text truncate"
                >{{j.job_title}}</span
              >
              <p style="text-align: left" class="black-text">{{j.job_type}}</p>
            </div>
            <div style="padding: 0 24px 24px 24px">
              <div class="mb-1" style="float: left; margin-top: 6px">
                <span class="job-type"
                  >₹{{j.job_min_salary}} - ₹{{j.job_max_salary}}</span
                >
                <span class="job-place">{{j.job_location}}</span>
              </div>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"
              >{{j.job_title}}<i class="material-icons right">close</i></span
            >
            <div class="mb-1 mt-1">
              <span class="job-type"
                >₹{{j.job_min_salary}} - ₹{{j.job_max_salary}}</span
              >
              <span class="job-place">{{j.job_location}}</span>
            </div>
            <p class="grey-text text-darken-3 left-align">
              Qualification: {{j.job_qualification}}
            </p>
            <p class="grey-text text-darken-3 left-align">
              Experience: {{j.job_experience}} Years
            </p>
            <ul>
              {% if j.face_to_face %}
              <li
                style="font-weight: bold"
                class="grey-text text-darken-3 left-align"
              >
                Face to face
              </li>
              {% endif %} {% if j.writtentest %}
              <li
                style="font-weight: bold"
                class="grey-text text-darken-3 left-align"
              >
                Writtentest
              </li>
              {% endif %} {% if j.telephonic %}
              <li
                style="font-weight: bold"
                class="grey-text text-darken-3 left-align"
              >
                Telephonic
              </li>
              {% endif %} {% if j.group_discussion %}
              <li
                style="font-weight: bold"
                class="grey-text text-darken-3 left-align"
              >
                Group Discussion
              </li>
              {% endif %} {% if j.walk_in %}
              <li
                style="font-weight: bold"
                class="grey-text text-darken-3 left-align"
              >
                Walk in
              </li>
              {% endif %}
            </ul>
            <p class="grey-text text-darken-3 left-align">
              {{j.job_description}}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div id="test6" class="col s6 offset-s3 mt-2">
      <div class="card">
        <table style="text-align: center;" class="table table-bordered centered" id="dataTable" width="100%"
          cellspacing="0">
          <thead>
            <tr>
              <th colspan="2">
                <div>
                  <img style="height: 150px;" class="rounded" src="/static/uploades/images/{{current_user.photo}}"
                    alt="">
                </div>
              </th>
            </tr>
          </thead>
          <tbody class="emp-table">
            <tr>
              <th>Name</th>
              <td>{{current_user.firstname}} {{current_user.lastname}}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{current_user.email}}</td>
            </tr>
            <tr>
              <th>Phone</th>
              <td>{{current_user.phone}}</td>
            </tr>
            <tr>
              <th>Qualification</th>
              <td>{{current_user.qualification}}</td>
            </tr>
            <tr>
              <th>CV</th>
              <td><a href="/static/uploades/files/{{ current_user.cv }}" target="_blank" class="blue-text">{{ current_user.cv }}</td>
            </tr>
            <tr>
              <th>Address</th>
              <td>{{current_user.house}}, {{current_user.city}}, {{current_user.state}}, {{current_user.pin}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
