{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l6 xl6 push-m3 push-l3 push-xl3">
        <div class="center valign-wrapper">
          <div class="card-panel mt-4 login-frm">
            <h4 class="center-align mb-3 title">
              Employee Register
            </h4>
            <form class="center-align" method="post" enctype="multipart/form-data" novalidate>
              {{ form.hidden_tag() }}
              <div class="row">
                <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                  <div class="input-field mb-2">
                    {{form.firstname(class="validate")}}
                    {% if form.firstname.errors %}
                      {% for error in form.firstname.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                    {{ form.firstname.label }}
                  </div>
                </div>
                <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                  <div class="input-field mb-2">
                    {{form.lastname(class="validate")}}
                    {% if form.lastname.errors %}
                      {% for error in form.lastname.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                    {{ form.lastname.label }}
                  </div>
                </div>
                <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                  <div class="input-field mb-2">
                    {{ form.email(class="validate") }}
                    {% if form.email.errors %}
                      {% for error in form.email.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                    {{ form.email.label() }}
                  </div>
                </div>
                <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                  <div class="input-field mb-2">
                    {{ form.phone(class="validate") }}
                    {% if form.phone.errors %}
                      {% for error in form.phone.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                    {{ form.phone.label() }} 
                  </div>
                </div>
                <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                  <div class="input-field mb-2">
                    {{form.dob(class="validate datepicker")}}
                    {% if form.dob.errors %}
                      {% for error in form.dob.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                    {{ form.dob.label }}
                  </div>
                </div>
                <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                  <div class="input-field mb-2">
                    {{form.qualification(class="validate")}}
                    {% if form.qualification.errors %}
                      {% for error in form.qualification.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                    {{ form.qualification.label }}
                  </div>
                </div>
                <div class="col s12">
                  <div class="input-field file-field mb-2">
                    <div class="btn primary-gr">
                      <span>Photo</span>
                      {{form.photo(accept_="image/x-png,image/gif,image/jpeg")}}
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                    </div>
                    {% if form.photo.errors %}
                      {% for error in form.photo.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
                <div class="col s12">
                  <div class="input-field file-field mb-2">
                    <div class="btn primary-gr">
                      <span>CV</span>
                      {{form.cv}}
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                    </div>
                    {% if form.cv.errors %}
                      {% for error in form.cv.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
                <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                  <div class="input-field mb-2">
                    {{form.house(class="validate")}}
                    {% if form.house.errors %}
                      {% for error in form.house.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                    {{ form.house.label }}
                  </div>
                </div>
                <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                  <div class="input-field mb-2">
                    {{form.city(class="validate")}}
                    {% if form.city.errors %}
                      {% for error in form.city.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                    {{ form.city.label }}
                  </div>
                </div>
                <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                  <div class="input-field mb-2">
                    {{form.pin(class="validate")}}
                    {% if form.pin.errors %}
                      {% for error in form.pin.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                    {{ form.pin.label }}
                  </div>
                </div>
                <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                  <div class="input-field mb-2">
                    {{form.state(class="validate")}}
                    {% if form.state.errors %}
                      {% for error in form.state.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                    {{ form.state.label }}
                  </div>
                </div>
                <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                  <div class="input-field mb-2">
                    {{form.password(class="validate")}}
                    {% if form.password.errors %}
                      {% for error in form.password.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                    {{ form.password.label }}
                  </div>
                </div>
                <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                  <div class="input-field mb-2">
                    {{form.cpassword(class="validate")}}
                    {% if form.cpassword.errors %}
                      {% for error in form.cpassword.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                    {{ form.cpassword.label }}
                  </div>
                </div>
                <div class="col s12 xl10 l12 push-xl1">
                  <div class="col s6">
                    <p class="mb-2 grey-text grey-darken-1">
                      Have an account? <a href="{{ url_for('loginEmployee') }}">Login</a>
                    </p>
                  </div>
                  <div class="col s6">
                    <p class="mb-2">
                      <a href="#">Terms of Use</a>
                    </p>
                  </div>
                </div>
              </div>
              <button type="submit" class="waves-effect waves-light btn-large primary-gr">
                <i class="material-icons right"></i>Register
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}