@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary: #00216e;
  --primary-dark: #011544;
  --primary-light: #234696;
  --primary-tr: rgba(0, 33, 110, 0.5);
  --medium: #8b87a0;
  --secondary: #1dd3b0;
  --primary-gr: linear-gradient(
    135deg,
    rgb(1, 212, 228) 0%,
    rgb(67, 102, 255) 100%
  );
  --primary-gr-tr: linear-gradient(
    135deg,
    rgba(18, 224, 183, 0.6) 0%,
    rgba(77, 28, 168, 0.6) 100%
  );
}

.primary-gr {
  background: var(--primary-gr);
}

body::-webkit-scrollbar {
  display: none;
  font-family: "Poppins", sans-serif !important;
}

.brand-logo {
  font-weight: bold !important;
  color: var(--primary) !important;
}

.container {
  margin: 0 auto;
}

.card-panel {
  min-width: 350px !important;
  border-radius: 6px;
}

.card {
  border-radius: 6px;
}

.btn, .btn-large {
  border-radius: 30px;
}

.dropdown-content {
  border-radius: 6px;
  width: auto !important;
}

.modal {
  border-radius: 6px;
}

.dropdown-content > li > a {
  color: var(--primary) !important;
  font-size: 16px !important;
  font-weight: normal !important;
}

.datepicker-date-display {
  background: var(--primary-gr);
}
.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  color: var(--primary);
}

.datepicker-table td.is-selected {
  background-color: var(--primary);
}

.datepicker-day-button:focus {
  background-color: var(--primary-tr);
}

.datepicker-table td.is-today {
  color: var(--primary);
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: var(--primary);
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid var(--primary-dark) !important;
  background-color: var(--primary) !important;
}

input:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid var(--primary) !important;
  -webkit-box-shadow: 0 1px 0 0 var(--primary) !important;
  box-shadow: 0 1px 0 0 var(--primary) !important;
}

input:not(.browser-default):focus:not([readonly]) + label {
  color: var(--primary) !important;
}

.tabs .tab a {
  color: #5b84e2;
}

.tabs .tab a:hover {
  color: var(--primary);
}

.tabs .tab a.active {
  color: var(--primary);
}

.tabs .indicator {
  background-color: #1c49b3;
  height: 3px;
}

.error {
  font-size: 12px;
  float: left;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

@media only screen and (max-width: 410px) {
  .card-panel {
    min-width: 330px !important;
  }
}
