.header {
  height: 90vh;
  background-image: url("./img/header-bg.webp");
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.header::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(0, 148, 116, 0.68) 0%,
    rgba(0, 63, 171, 0.68) 100%
  );
  position: absolute;
  top: 0;
}

.transparent {
  background: rgba(255, 255, 255, 0.75) !important;
}

.hero-content h1, p {
  text-align: center;
}

.hero-content h1 {
  font-size: calc(40px + 100%) !important;
  font-weight: bold;
}

.hero-content p {
  font-size: calc(5px + 90%) !important;
}

nav {
  position: relative;
  z-index: 5 !important;
}

.nav-wrapper ul li a {
  color: var(--primary);
  font-weight: 500;
  font-size: 18px;
}

.nav-wrapper ul li .btn {
  font-size: 16px;
  font-weight: 500;
  background-image: var(--primary-gr);
}

.nav-wrapper ul li .btn-flat {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary);
  text-transform: capitalize;
}

.hero-section {
  height: calc(100% - 84px);
  width: 100%;
  position: relative;
  z-index: 1 !important;
}

.align-center {
  top: 45% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.hero-content h1,
p {
  color: #ffffff;
  text-align: center;
  position: relative;
}

.hero {
  width: 100%;
  height: 100%;
}

.hero-search {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.hero-search input {
  width: 100% !important;
  height: 70px !important;
  border: none !important;
  padding: 0 35px !important;
  font-size: 16px !important;
  color: var(--primary) !important;
  font-weight: 500 !important;
  box-sizing: border-box !important;
  background: #ffffff !important;
  border-radius: 60px !important;
}

.hero-search input::placeholder {
  color: var(--medium);
}

.hero-search button {
  position: absolute;
  top: 12px;
  right: 12px;
  border: 0;
  height: 46px;
  width: auto;
  line-height: 46px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 60px !important;
  background-image: var(--primary-gr);
}

.categories {
  margin-top: -4rem;
}

.categories .cat-title {
  font-weight: 500;
  font-size: 2rem;
}

.center {
  min-height: calc(100vh - 100px) !important;
}

.login-frm {
  width: 100%;
}

.job-card {
  overflow: auto;
  padding-bottom: 1rem !important;
}

.job-card:not(:hover) {
  box-shadow: 0 0 0 1px rgb(226, 226, 226);
}

.job-card .card-title {
  font-weight: bold !important;
  font-size: 18px !important;
}

.job-type {
  background: linear-gradient(to right, #11998e, #38ef7d);
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 20px;
}

.job-place {
  background: linear-gradient(to right, #4568dc, #b06ab3);
  padding: 5px 10px;
  color: #fff;
  border-radius: 20px;
}

.employer-dp {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: -2rem;
}

.emp-table th{
  text-align: center !important;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}
