{% extends "layout.html" %}
{% block content %}
<div class="container">

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
  <h1 class="center-align">{{current_user.first_name}} {{current_user.last_name}}</h1>
  <div class="row mt-2">
    <div class="col s8 offset-s2">
      <ul class="tabs">
        <li class="tab col s4"><a href="#test2"><b>Jobs Applications</b></a></li>
        <li class="tab col s4"><a class="active" href="#test3"><b>My Posts</b></a></li>
        <li class="tab col s4"><a href="#test4"><b>My Profile</b></a></li>
      </ul>
    </div>
    <div id="test2" class="col s12 mt-2">
      <div class="card-panel">
        <table class="centered">
          <thead>
            <tr>
              <th>No.</th>
              <th>Job title</th>
              <th>Full name</th>
              <th>Email</th>
              <th>Resume</th>
              <th>Qualification</th>
            </tr>
          </thead>
          <tbody id="applied_tb">
            {% for j in jobs %}
            {% if j.applied_user %}
            <tr>
              <td></td>
              <td>{{ j.job_title }}</td>
              <td>{{ j.applied_user[0].firstname }} {{ j.applied_user[0].lastname }}</td>
              <td>{{ j.applied_user[0].email }}</td>
              <td><a href="/static/uploades/files/{{ j.applied_user[0].cv }}" target="_blank" class="blue-text">{{ j.applied_user[0].cv }}</a></td>
              <td>{{ j.applied_user[0].qualification }}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div id="test3" class="col s12 mt-2">
      {% for j in current_user.jobs %}
      <div class="col s4">
        <div class="job-card card z-depth-2 hoverable">
          <div style="padding-top: 20px; width: 100%; text-align: center;">
            <img class="z-depth-3 activator" style="width: 80%;border-radius: 10px; cursor: pointer;" src="/static/uploades/images/{{j.photo}}">
          </div>
          <div class="card-stacked">
            <div class="card-content" style="padding: 10px 24px;">
              <span class="card-title black-text truncate">{{j.job_title}}</span>
              <p style="text-align: left;" class="black-text">{{j.job_type}}</p>
            </div>
            <div style="padding: 0 24px 24px 24px;">
              <div class="mb-1" style="float: left; margin-top: 6px;">
                <span class="job-type">₹{{j.job_min_salary}} - ₹{{j.job_max_salary}}</span>
                <span class="job-place">{{j.job_location}}</span>
              </div>
            </div>
            <div class="mt-2 mb-1" style="display: block; margin-left: 22px;">
              {% if current_user.is_authenticated %}
                <a href="{{url_for('deleteJob', id=j.id)}}" class="btn red">Delete Job</a>
              {% endif %}
              <span style="cursor: pointer;" class="right activator"><i style="line-height: 42px; padding-right: 20px" class="material-icons">more_vert</i></span>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{j.job_title}}<i
                class="material-icons right">close</i></span>
            <div class="mb-1 mt-1">
              <span class="job-type">₹{{j.job_min_salary}} - ₹{{j.job_max_salary}}</span>
              <span class="job-place">{{j.job_location}}</span>
            </div>
            <p class="grey-text text-darken-3 left-align">Qualification: {{j.job_qualification}}</p>
            <p class="grey-text text-darken-3 left-align">Experience: {{j.job_experience}} Years</p>
            <ul>
              {% if j.face_to_face %}
              <li style="font-weight: bold;" class="grey-text text-darken-3 left-align">Face to face</li>
              {% endif %}
              {% if j.writtentest %}
              <li style="font-weight: bold;" class="grey-text text-darken-3 left-align">Writtentest</li>
              {% endif %}
              {% if j.telephonic %}
              <li style="font-weight: bold;" class="grey-text text-darken-3 left-align">Telephonic</li>
              {% endif %}
              {% if j.group_discussion %}
              <li style="font-weight: bold;" class="grey-text text-darken-3 left-align">Group Discussion</li>
              {% endif %}
              {% if j.walk_in %}
              <li style="font-weight: bold;" class="grey-text text-darken-3 left-align">Walk in</li>
              {% endif %}
            </ul>
            <p class="grey-text text-darken-3 left-align">{{j.job_description}}</p>
          </div>
        </div>
      </div>
      {% endfor %}>
    </div>
    <div id="test4" class="col s6 offset-s3 mt-2">
      <div class="card">
        <table style="text-align: center;" class="table table-bordered centered" id="dataTable" width="100%"
          cellspacing="0">
          <thead>
            <tr>
              <th colspan="2">
                <div>
                  <img style="height: 150px;" class="rounded" src="/static/uploades/images/{{current_user.photo}}"
                    alt="">
                </div>
              </th>
            </tr>
          </thead>
          <tbody class="emp-table">
            <tr>
              <th>Company Name</th>
              <td>{{current_user.company_name}}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{current_user.email}}</td>
            </tr>
            <tr>
              <th>Phone</th>
              <td>{{current_user.phone}}</td>
            </tr>
            <tr>
              <th>About</th>
              <td>{{current_user.about}}</td>
            </tr>
            <tr>
              <th>Street</th>
              <td>{{current_user.street}}</td>
            </tr>
            <tr>
              <th>Address</th>
              <td>{{current_user.address_2 }}</td>
            </tr>
            <tr>
              <th>City</th>
              <td>{{current_user.city }}</td>
            </tr>
            <tr>
              <th>State</th>
              <td>{{current_user.state }}</td>
            </tr>
            <tr>
              <th>Country</th>
              <td>{{current_user.country }}</td>
            </tr>
            <tr>
              <th>State</th>
              <td>{{current_user.state }}</td>
            </tr>
            <tr>
              <th>Zipcode</th>
              <td>{{current_user.zipcode }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}