{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m8 l6 xl6 push-m3 push-l3 push-xl3">
      <div class="center valign-wrapper">
        <div class="card-panel mt-4 login-frm">
          <h4 class="center-align mb-3 title">POST A JOB</h4>
          <form class="center-align" method="post" novalidate enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="row">
              <div class="col s12">
                <div class="input-field mb-2">
                  {{form.employer_job_title(class="validate")}}
                    {% if form.employer_job_title.errors %}
                      {% for error in form.employer_job_title.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {{ form.employer_job_title.label }}
                </div>
              </div>
              <div class="col s12">
                <div class="input-field mb-2">
                  {{form.employer_job_tags(class="validate")}}
                    {% if form.employer_job_tags.errors %}
                      {% for error in form.employer_job_tags.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {{ form.employer_job_tags.label }}
                </div>
              </div>
              <div class="col s12">
                <div class="input-field mb-2">
                  {{form.employer_job_qualification(class="validate")}}
                    {% if form.employer_job_qualification.errors %}
                      {% for error in form.employer_job_qualification.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {{ form.employer_job_qualification.label }}
                </div>
              </div>
              <div class="col s12 xl6 l6 m6">
                <div class="input-field mb-2">
                  {{form.employer_job_type(class="validate")}}
                    {% if form.employer_job_type.errors %}
                      {% for error in form.employer_job_type.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {{ form.employer_job_type.label }}
                </div>
              </div>
              <div class="col s12 xl6 l6 m6">
                <div class="input-field mb-2">
                  {{form.employer_job_experience(class="validate")}}
                    {% if form.employer_job_experience.errors %}
                      {% for error in form.employer_job_experience.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {{ form.employer_job_experience.label }}
                </div>
              </div>
              <div class="col s12 xl6 l6 m6">
                <div class="input-field mb-2">
                  {{form.employer_job_min_salary(class="validate")}}
                    {% if form.employer_job_min_salary.errors %}
                      {% for error in form.employer_job_min_salary.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {{ form.employer_job_min_salary.label }}
                </div>
              </div>
              <div class="col s12 xl6 l6 m6">
                <div class="input-field mb-2">
                  {{form.employer_job_max_salary(class="validate")}}
                    {% if form.employer_job_max_salary.errors %}
                      {% for error in form.employer_job_max_salary.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {{ form.employer_job_max_salary.label }}
                </div>
              </div>
              <div class="col s12">
                <div class="input-field file-field mb-2">
                  <div class="btn primary-gr">
                    <span>Photo</span>
                    {{form.photo(accept_="image/x-png,image/gif,image/jpeg")}}
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                  {% if form.photo.errors %}
                    {% for error in form.photo.errors %}
                      <span class="red-text error">{{ error }}</span>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class="col s12">
                <p class="black-text left-align">Hiring Process</p>
                <div class="col">
                  <div class="input-field mb-2">
                    <p>
                      <label>
                        {{ form.employer_face_to_face(class="filled-in") }}
                        <span>{{ form.employer_face_to_face.label }}</span>
                      </label>
                    </p>
                  </div>
                </div>
                <div class="col">
                  <div class="input-field mb-2">
                    <p>
                      <label>
                        {{ form.employer_writtentest(class="filled-in") }}
                        <span>{{ form.employer_writtentest.label }}</span>
                      </label>
                    </p>
                  </div>
                </div>
                <div class="col">
                  <div class="input-field mb-2">
                    <p>
                      <label>
                        {{ form.employer_telephonic(class="filled-in") }}
                        <span>{{ form.employer_telephonic.label }}</span>
                      </label>
                    </p>
                  </div>
                </div>
                <div class="col">
                  <div class="input-field mb-2">
                    <p>
                      <label>
                        {{ form.employer_group_discussion(class="filled-in") }}
                        <span>{{ form.employer_group_discussion.label }}</span>
                      </label>
                    </p>
                  </div>
                </div>
                <div class="col">
                  <div class="input-field mb-2">
                    <p>
                      <label>
                        {{ form.employer_walk_in(class="filled-in") }}
                        <span>{{ form.employer_walk_in.label }}</span>
                      </label>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col s12 xl6 l6 m6">
                <div class="input-field mb-2">
                  {{form.employer_job_location(class="validate")}}
                    {% if form.employer_job_location.errors %}
                      {% for error in form.employer_job_location.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {{ form.employer_job_location.label }}
                </div>
              </div>
              <div class="col s12 xl6 l6 m6">
               <div class="input-field mb-2">
                {{form.employer_job_country(class="validate")}}
                  {% if form.employer_job_country.errors %}
                    {% for error in form.employer_job_country.errors %}
                      <span class="red-text error">{{ error }}</span>
                    {% endfor %}
                  {% endif %}
                {{ form.employer_job_country.label }}
            </div>
            </div>
              <div class="col s12">
                <div class="input-field">
                  {{form.employer_job_description(class="validate")}}
                    {% if form.employer_job_description.errors %}
                      {% for error in form.employer_job_description.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {{ form.employer_job_description.label }}
                </div>   
            </div>
            <button
              type="submit"
              class="waves-effect waves-light btn-large light-blue darken-1"
            >
              <i class="material-icons right"></i>POST
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
