{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m6 l6 xl6 push-m3 push-l3 push-xl3">
      <div class="center valign-wrapper">
        <div class="card-panel mt-4 login-frm">
          <h4 class="center-align mb-3 title">
            Employer Register
          </h4>
          <form class="center-align" method="POST" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
            <div class="row">
              <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                <div class="input-field mb-2">
                  {{form.first_name(class="validate")}}
                    {% if form.first_name.errors %}
                      {% for error in form.first_name.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                    {{ form.first_name.label }}
                </div>
              </div>
              <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                <div class="input-field mb-2">
                  {{form.last_name(class="validate")}}
                    {% if form.last_name.errors %}
                      {% for error in form.last_name.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                    {{ form.last_name.label }}
                </div>
              </div>
              <div class="col s12">
                <div class="input-field mb-2">
                  {{form.company_name(class="validate")}}
                    {% if form.company_name.errors %}
                      {% for error in form.company_name.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {{ form.company_name.label }}
                </div>
              </div>
              <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                <div class="input-field mb-2">
                  {{form.email(class="validate")}}
                    {% if form.email.errors %}
                      {% for error in form.email.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {{ form.email.label }}
                </div>
              </div>  
              <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                <div class="input-field mb-2">
                  {{form.phone(class="validate")}}
                    {% if form.phone.errors %}
                      {% for error in form.phone.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {{ form.phone.label }}
                </div>
              </div>
              <div class="col s12">
                <div class="input-field mb-2">
                  {{form.about(class="validate materialize-textarea")}}
                    {% if form.about.errors %}
                      {% for error in form.about.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {{ form.about.label }}
                </div>
              </div>
              <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                <div class="input-field mb-2">
                  {{form.street(class="validate")}}
                    {% if form.street.errors %}
                      {% for error in form.street.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {{ form.street.label }}
                </div>
              </div>
              <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                <div class="input-field mb-2">
                  {{form.address_2(class="validate")}}
                    {% if form.address_2.errors %}
                      {% for error in form.address_2.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {{ form.address_2.label }}
                </div>
              </div>
              <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                <div class="input-field mb-2">
                  {{form.city(class="validate")}}
                    {% if form.city.errors %}
                      {% for error in form.city.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {{ form.city.label }}
                </div>
              </div>
              <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                <div class="input-field mb-2">
                  {{form.state(class="validate")}}
                    {% if form.state.errors %}
                      {% for error in form.state.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {{ form.state.label }}
                </div>
              </div>
              <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                <div class="input-field mb-2">
                  {{form.country(class="validate")}}
                    {% if form.country.errors %}
                      {% for error in form.country.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {{ form.country.label }}
                </div>
              </div>
              <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                <div class="input-field mb-2">
                  {{form.zipcode(class="validate")}}
                    {% if form.zipcode.errors %}
                      {% for error in form.zipcode.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {{ form.zipcode.label }}
                </div>
              </div>
              <div class="col s12">
                <div class="input-field file-field mb-2">
                  <div class="btn primary-gr">
                    <span>Photo</span>
                    {{form.photo(accept_="image/x-png,image/gif,image/jpeg")}}
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                  {% if form.photo.errors %}
                    {% for error in form.photo.errors %}
                      <span class="red-text error">{{ error }}</span>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                <div class="input-field mb-2">
                  {{form.pswd(class="validate")}}
                    {% if form.pswd.errors %}
                      {% for error in form.pswd.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {{ form.pswd.label }}
                </div>
              </div>
              <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                <div class="input-field mb-2">
                  {{form.pswd2(class="validate")}}
                    {% if form.pswd2.errors %}
                      {% for error in form.pswd2.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {{ form.pswd2.label }}
                </div>
              </div>            
              <div class="col s12 xl10 l12 push-xl1">
                <div class="col s6">
                  <p class="mb-2 grey-text grey-darken-1">
                    Have an account? <a href="{{ url_for('loginEmployer') }}">Login</a>
                  </p>
                </div>
                <div class="col s6">
                  <p class="mb-2">
                    <a href="#">Terms of Use</a>
                  </p>
                </div>
              </div>
            </div>
            <button type="submit" class="waves-effect waves-light btn-large primary-gr">
              <i class="material-icons right"></i>Register
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}