{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m6 l6 xl8 push-m3 push-l3 push-xl2">
      <div class="center valign-wrapper">
        <div class="card-panel mt-4 login-frm">
          <h4 class="center-align mb-3 title">About Us</h4>
          <img
            style="width: 100%; border-radius: 6px"
            src="/static/img/team.jpg"
            alt=""
          />
          <p class="black-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
            suscipit consequuntur reprehenderit vitae animi recusandae
            repudiandae fugit ratione magnam totam sit corrupti, fuga amet,
            aliquam, similique id deserunt porro sed!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
            suscipit consequuntur reprehenderit vitae animi recusandae
            repudiandae fugit ratione magnam totam sit corrupti, fuga amet,
            aliquam, similique id deserunt porro sed!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
            suscipit consequuntur reprehenderit vitae animi recusandae
            repudiandae fugit ratione magnam totam sit corrupti, fuga amet,
            aliquam, similique id deserunt porro sed!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
