{% extends "layout.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m6 l6 xl4 push-m3 push-l3 push-xl4">
      <div class="center valign-wrapper">
        <div class="card-panel mt-4 login-frm">
          <h4 class="center-align mb-3 title">Contact Us</h4>
          <form class="center-align" novalidate>
            <div class="input-field mb-2">
              <input id="name" type="text" class="validate" />
              <label for="name">Full Name</label>
            </div>
            <div class="input-field mb-2">
              <input id="email" type="email" class="validate" />
              <label for="email">Email</label>
            </div>
            <div class="input-field mb-2">
              <input id="subject" type="text" class="validate" />
              <label for="subject">Subject</label>
            </div>
            <div class="input-field mb-2">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Message</label>
            </div>
            <button
              type="submit"
              class="waves-effect waves-light btn-large light-blue darken-1"
            >
              <i class="material-icons right"></i>Send Message
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
