<div class="row hero-section">
  <div class="col s12 m10 l8 xl6 push-xl3 push-l2 push-m1 align-center">
    <div class="hero center-align">
      <div class="hero-content mt-1 mb-2">
        <h1 data-aos="fade-down" data-aos-duration="1000">
          The Eassiest Way to Get Your Dream Job
        </h1>
        <p data-aos="fade-down" data-aos-delay="100" data-aos-duration="1000">
          We have more than 18000+ jobs for you
        </p>
      </div>
      <div class="search">
        <form action="" class="hero-search" method="POST">
          {{ form.hidden_tag() }}
          <div
            data-aos="zoom-out"
            data-aos-delay="300"
            data-aos-duration="800"
          >
            {{form.search(placeholder="Search Jobs")}}
            <button
              type="submit"
              class="waves-effect waves-light btn-large light-blue darken-1"
            >
              <i class="material-icons right"></i>SEARCH
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
