{% extends "layout.html" %}
{% block content %}
<div class="container">
    <!-- <h1 class="center-align">Search /</h1> -->
    <div class="row">
        <div class="col s12">
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <h4 style="text-transform: capitalize; font-weight:bold"
                            class="card-title cat-title center-align mb-3 mt-2">Search / <span
                                class="blue-text">{{val}}</span></h4>
                    </div>
                    {% if jobs %}
                    {% for j in jobs %}
              <div class="col s4">
                <div class="job-card card z-depth-2 hoverable">
                  <div style="padding-top: 20px; width: 100%; text-align: center;">
                    <img class="z-depth-3" style="width: 80%;border-radius: 10px;" src="/static/uploades/images/{{j.photo}}">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content" style="padding: 10px 24px;">
                      <span class="card-title black-text truncate">{{j.job_title}}</span>
                      <p style="text-align: left;" class="black-text">{{j.job_type}}</p>
                    </div>
                    <div style="padding: 0 24px 24px 24px;">
                      <div style="float: left; margin-top: 6px;">
                        <span class="job-type">₹{{j.job_min_salary}} - ₹{{j.job_max_salary}}</span>
                        <span class="job-place">{{j.job_location}}</span>
                      </div>
                    </div>
                    <div class="mt-2" style="display: block; margin-left: 22px;">
                      {% if current_user.is_authenticated %}
                      <a style="width: 70%; height: 42px; line-height: 42px;" href="{{ url_for('appplyJob', employee_id=current_user.id, job_id=j.id) }}" class="primary-gr waves-effect waves-light btn">Apply Now</a>
                      {% else %}
                      <a style="width: 70%; height: 42px; line-height: 42px;" href="{{ url_for('notLoggedinEmployee') }}" class="primary-gr waves-effect waves-light btn">Apply Now</a>
                      {% endif %}
                      <span style="cursor: pointer;" class="right activator"><i style="line-height: 42px; padding-right: 20px" class="material-icons">more_vert</i></span>
                    </div>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{j.job_title}}<i class="material-icons right">close</i></span>
                    <div class="mb-1">
                      <span class="job-type">₹{{j.job_min_salary}} - ₹{{j.job_max_salary}}</span>
                      <span class="job-place">{{j.job_location}}</span>
                    </div>
                    <p class="grey-text text-darken-3 left-align">Qualification: {{j.job_qualification}}</p>
                    <p class="grey-text text-darken-3 left-align">Experience: {{j.job_experience}} Years</p>
                    <ul>
                      {% if j.face_to_face %}
                      <li style="font-weight: bold;" class="grey-text text-darken-3 left-align">Face to face</li>
                      {% endif %}
                      {% if j.writtentest %}
                      <li style="font-weight: bold;" class="grey-text text-darken-3 left-align">Writtentest</li>
                      {% endif %}
                      {% if j.telephonic %}
                      <li style="font-weight: bold;" class="grey-text text-darken-3 left-align">Telephonic</li>
                      {% endif %}
                      {% if j.group_discussion %}
                      <li style="font-weight: bold;" class="grey-text text-darken-3 left-align">Group Discussion</li>
                      {% endif %}
                      {% if j.walk_in %}
                      <li style="font-weight: bold;" class="grey-text text-darken-3 left-align">Walk in</li>
                      {% endif %}
                    </ul>
                    <p class="grey-text text-darken-3 left-align">{{j.job_description}}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
                    {% else %}
                        <div style="text-align: center;">
                            <h4>No Jobs found</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    {% endblock %}