<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <title>{{title}}</title>
  </head>
  <body>
    <header {% if request.path == "/" %}class="header"{% endif %}>
      <nav class="{% if request.path == '/' %}transparent z-depth-0{% else %}white{% endif %}">
        <div class="nav-wrapper container">
          <a href="{{ url_for('home') }}" class="brand-logo">Jobzz</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li {% if request.path == "/" %}class="active"{% endif %}><a href="{{ url_for('home') }}">Home</a></li>
            <li {% if request.path == "/about" %}class="active"{% endif %}><a href="{{ url_for('about') }}">About</a></li>
            <li {% if request.path == "/contact" %}class="active"{% endif %}><a href="{{ url_for('contact') }}">Contact</a></li>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for(current_user.role) }}" class="dropdown-trigger waves-effect waves-light btn blue lightn-2 white-text" data-target="drop_register">Dashboard</a>
            {% if current_user.role == "employer" %}
            <a href="{{ url_for('postJob') }}" class="dropdown-trigger waves-effect waves-light btn green lightn-2 white-text" data-target="drop_register">Post Job</a>
            {% endif %}
            <a href="{{ url_for('logout') }}" class="dropdown-trigger waves-effect waves-light btn pink lightn-2 white-text" data-target="drop_register">Logout</a>
            {% else %}
            <li {% if request.path == "/login/employee" or request.path == "/login/employer" %}class="active"{% endif %}>
              <a class="dropdown-trigger waves-effect waves-light btn-flat" data-target="drop_login">Login</a>
              <ul id='drop_login' class='dropdown-content'>
                <li><a href="{{ url_for('loginEmployee') }}">Employee</a></li>
                <li><a href="{{ url_for('loginEmployer') }}">Employer</a></li>
              </ul>
            </li>
            <li>
              <a class="dropdown-trigger waves-effect waves-light btn pink lightn-2 white-text" data-target="drop_register">Register</a>
              <ul id='drop_register' class='dropdown-content'>
                <li><a href="{{ url_for('registerEmployee') }}">Employee</a></li>
                <li><a href="{{ url_for('registerEmployer') }}">Employer</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      {% if request.path == "/" %}
        {% include '/hero.html' %}
      {% endif %}
    </header>

