{% extends "/admin/layout.html" %}
{% block content %}
<div class="modal fade" id="delete-employee" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete {{employee.firstname}} {{employee.lastname}}
                </h5>
            </div>
            <div class="modal-body">
                Are you sure want to delete the account?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="{{url_for('deleteEmployee', id=employee.id)}}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Admin</div>
                    <a class="nav-link" href="{{ url_for('admin') }}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Manage</div>
                    <a class="nav-link" href="{{ url_for('manageEmployee') }}">
                        <div class="sb-nav-link-icon"><i class="fas fa-suitcase-rolling mr-1"></i></div>
                        Employee
                    </a>
                    <a class="nav-link" href="{{ url_for('manageEmployer') }}">
                        <div class="sb-nav-link-icon"><i class="far fa-building mr-1"></i></div>
                        Employer
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Admin
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">{{employee.firstname}} {{employee.lastname}}</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard / Employee / {{employee.id}}</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-suitcase-rolling mr-1"></i>
                        Employee
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="card-body">
                                <table style="text-align: center;" class="table table-bordered" id="dataTable"
                                    width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th colspan="2">
                                                <div>
                                                    <img style="height: 150px;" class="rounded" src="/static/uploades/images/{{employee.photo}}" alt="">
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Email</th>
                                            <td>{{employee.email}}</td>
                                        </tr>
                                        <tr>
                                            <th>Phone</th>
                                            <td>{{employee.phone}}</td>
                                        </tr>
                                        <tr>
                                            <th>House</th>
                                            <td>{{employee.house}}</td>
                                        </tr>
                                        <tr>
                                            <th>City</th>
                                            <td>{{employee.city}}</td>
                                        </tr>
                                        <tr>
                                            <th>State</th>
                                            <td>{{employee.state}}</td>
                                        </tr>
                                        <tr>
                                            <th>PIN</th>
                                            <td>{{employee.pin }}</td>
                                        </tr>
                                        <tr>
                                            <th>Date of Birth</th>
                                            <td>{{employee.dob }}</td>
                                        </tr>
                                        <tr>
                                            <th>Qualification</th>
                                            <td>{{employee.qualification }}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="2">
                                                <div class="card-header">
                                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-employee">
                                                        <i class="fas fa-trash-alt"></i> Delete
                                                    </button>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include '/admin/footer.html' %}
    </div>
</div>
{% endblock %}