{% extends "/admin/layout.html" %}
{% block content %}
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Admin</div>
                    <a class="nav-link" href="{{ url_for('admin') }}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Manage</div>
                    <a class="nav-link" href="{{ url_for('manageEmployee') }}">
                        <div class="sb-nav-link-icon"><i class="fas fa-suitcase-rolling mr-1"></i></div>
                        Employee
                    </a>
                    <a class="nav-link" href="{{ url_for('manageEmployer') }}">
                        <div class="sb-nav-link-icon"><i class="far fa-building mr-1"></i></div>
                        Employer
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Admin
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Employer</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard / Employer</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="far fa-building mr-1"></i>
                        Employer
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table style="text-align: center; line-height: 60px;" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Photo</th>
                                        <th>Name</th>
                                        <th>Company Name</th>
                                        <th>Email</th>
                                        <th>Manage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for employer in employers %}
                                    <tr>
                                        <td>{{employer.id }}</td>
                                        <td><img class="table-img" src="/static/uploades/images/{{employer.photo}}" alt=""></td>
                                        <td>{{ employer.first_name }} {{ employer.last_name}}</td>
                                        <td>{{employer.company_name }}</td>
                                        <td>{{employer.email }}</td>
                                        <td><a href="{{url_for('viewEmployer',  id=employer.id)}}" type="button" class="btn btn-primary btn-sm">View</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include '/admin/footer.html' %}
    </div>
</div>
{% endblock %}