{% extends "/admin/layout.html" %}
{% block content %}
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">Login Admin</h3>
                            </div>
                            <div class="card-body">
                                <form method="POST" novalidate>
                                    {{ form.hidden_tag() }}
                                    <div class="form-group">
                                        {{ form.username.label() }}
                                        {{ form.username(class="form-control py-4") }}
                                        {% if form.username.errors %}
                                            {% for error in form.username.errors %}
                                            <span class="red-text error">{{ error }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.password.label() }}
                                        {{ form.password(class="form-control py-4") }}
                                        {% if form.password.errors %}
                                            {% for error in form.password.errors %}
                                            <span class="red-text error">{{ error }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <a class="small" href="#">Forgot Password?</a>
                                        <button class="btn btn-primary" type="submit">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}