<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Employee
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table style="text-align: center; line-height: 60px;" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Photo</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for e in employees %}
                            <tr>
                                <td>{{e.id }}</td>
                                <td><img class="table-img" src="/static/uploades/images/{{e.photo}}" alt=""></td>
                                <td>{{e.firstname }} {{ e.lastname}}</td>
                                <td>{{e.phone }}</td>
                                <td>{{e.email }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Employer
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table style="text-align: center; line-height: 60px;" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Photo</th>
                                    <th>Name</th>
                                    <th>Company Name</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for employer in employers %}
                                <tr>
                                    <td>{{employer.id }}</td>
                                    <td><img class="table-img" src="/static/uploades/images/{{employer.photo}}" alt=""></td>
                                    <td>{{ employer.first_name }} {{ employer.last_name}}</td>
                                    <td>{{employer.company_name }}</td>
                                    <td>{{employer.email }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>