{% extends "/admin/layout.html" %}
{% block content %}
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Admin</div>
                    <a class="nav-link" href="{{ url_for('admin') }}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Manage</div>
                    <a class="nav-link" href="{{ url_for('manageEmployee') }}">
                        <div class="sb-nav-link-icon"><i class="fas fa-suitcase-rolling mr-1"></i></div>
                        Employee
                    </a>
                    <a class="nav-link" href="{{ url_for('manageEmployer') }}">
                        <div class="sb-nav-link-icon"><i class="far fa-building mr-1"></i></div>
                        Employer
                    </a>
                    <a class="nav-link" href="#">
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Admin
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        {% include '/admin/dashboard.html' %}
        {% include '/admin/footer.html' %}
    </div>
</div>
{% endblock %}